body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: BigShoulderStencilDisplay;
  src: url("./fonts/BigShouldersStencilDisplay-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Goldman-Bold;
  src: url("./fonts/Goldman-Bold.ttf");
  font-weight: bold;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.initArrow{
  position : absolute;
  right : 0px;
  top: 50%;
  height : 30%;
  margin-right: 10px;
  transform: translate(0, -50%);
}

.rightArrow{
  position : absolute;
  right : 0px;
  top: 50%;
  height : 30%;
  margin-right: 10px;
  transform: translate(0, -50%);
  animation-name: rightToDown;
  animation-duration: 0.2s;
  animation-direction: reverse;
}

.downArrow{
  position : absolute;
  right : 0px;
  top: 50%;
  height : 30%;
  margin-right: 10px;
  transform: translate(0, -50%) rotate(90deg);  
  animation-name: downToRight;
  animation-duration: 0.2s;
  animation-direction: reverse;
}

.scrollContainer{
  overflow-y: scroll;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollContainer {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@keyframes downToRight {
  from {
    position : absolute;
    right : 0px;
    top: 50%;
    height : 30%;
    margin-right: 10px;
    transform: translate(0, -50%) rotate(90deg);  
  } to {
    position : absolute;
    right : 0px;
    top: 50%;
    height : 30%;
    margin-right: 10px;
    transform: translate(0, -50%);
  }
}

@keyframes rightToDown {
  from {
    position : absolute;
    right : 0px;
    top: 50%;
    height : 30%;
    margin-right: 10px;
    transform: translate(0, -50%);
  } to {
    position : absolute;
    right : 0px;
    top: 50%;
    height : 30%;
    margin-right: 10px;
    transform: translate(0, -50%) rotate(90deg);  
  } 
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: rgb(225, 228, 230);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
